# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Sonic '06's Lua files
*.lub

# Sonic '06's Audio files
*.csb
*.xma

# Sonic '06's Filesystem
*.arc

# Other Sonic '06 files
*.wmv
*.dds

# Kunai files
*.xncp

# Mod manageer mlua files
*.mlua

# Level placement files
*.set
